@CHARSET "EUC-KR";

section {
	margin-top: 83px;
}

#sidebar {
	background-color: #f8f9fa;
	height: 1000px;
}

ul {
	list-style: none;
}

ul li {
	font-size: 20px;
}

@media ( max-width : 1489px) {
	#sidebar {
		display: none;
	}
}

#sidebar ul li a {
	color: #00953e;
}

#sidebar ul li a:HOVER {
	color: darkslategrey;
}

.post {
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post_btn {
	height: calc(1.5em + 1rem + 2px);
	padding: .375rem .75rem;
}

.post1 {
	width: 100%;
}